body {
	/* background-color: #BFCCFF; */
	background-color: #5de6de;
	background-image: linear-gradient(0deg, #5de6de 0%, #BFCCFF 74%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

textarea {
	height: 15em;
	width: 40em	!important;
	display: block;
    margin: 0 auto;
}

.random-notes-wrap {
	text-align: center;
	padding-top: 5em;
	padding-bottom: 10em;
}

input {
	margin-top: 1.5em;
	margin-right: 1em;
}

button {
	margin-top: 1.5em;
	margin-left: 1em;
}
  
.heart {
	font-size: 5px;
	display: inline-block;
	width: 1em;
	height: 1em;
	margin-bottom: 10em;
	margin-top: 5em;
	background: white;
	box-shadow:
	  /* white shine */
	  0 -2em 0 black,
	  -3em 0 0 white,
	  -2em -1em 0 white,
	  /* top shades */
	  0 -1em 0 0 white,
	  -1em -2em 0 0 white,
	  -2em -2em 0 0 white,
	  -3em -2em 0 0 white,
	  1em -2em 0 0 white,
	  2em -2em 0 0 white,
	  3em -2em 0 0 white,
	  -4em -1em 0 0 white,
	  4em -1em 0 0 white,
	  /* fills my heart */
	  0 0 0 2em white,
	  -1em 0 0 2em white,
	  1em 0 0 2em white,
	  -3em 0 0 1em white,
	  3em 0 0 1em white,
	  0 1em 0 2em white,
	  0 3em 0 1em white,
	  0 5em 0 0 white,
	  /* white borders */
	  -2em -2em 0 1em black,
	  2em -2em 0 1em black,
	  -3em -1em 0 1em black,
	  3em -1em 0 1em black,
	  -4em 0 0 1em black,
	  4em 0 0 1em black,
	  -3em 1em 0 1em black,
	  3em 1em 0 1em black,
	  1em 1em 0 2em black,
	  -1em 1em 0 2em black,
	  0 2em 0 2em black,
	  0 4em 0 1em black,
	  0 6em 0 0 black;
  }